body {
  font-family: "Roboto", "Raleway", sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
}
/* header */
.headerblock {
  background-color: #fff;
}
.title-name {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #2e2f42;
  text-transform: uppercase;
  line-height: 1.16667;
  letter-spacing: 0.54px;
}
.title-name-web {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}
.nav-link a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.nav-link a:hover {
  color: var(--ocean);
}
.nav-link a:active {
  text-decoration: underline;
  color: var(--ocean);
}
.address-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}
/* main-about */
.main-about {
  background-color: #2e2f42;
  text-align: center;
}
.main-about h1 {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  color: var(--white);
  line-height: 1.07143;
  letter-spacing: 1.12px;
  text-align: center;
  max-width: 505px;
  width: 100%;
  margin: 0 auto;
}
.main-about button {
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.main-about button:hover {
  background-color: var(--ocean);
}
/* strategy-studio */
.strategy-studio {
  background-color: var(--white);
}
.strategy-studio li {
  width: 264px;
  height: 104px;
  text-align: left;
}
.third-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2e2f42;
}
.post-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate);
}
/* our-team */
.our-team {
  text-align: center;
  background-color: var(--cloud);
}
.second-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  color: #2e2f42;
  letter-spacing: 0.72px;
  text-align: center;
}
.our-team li {
  background-color: var(--white);
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
/* our-portfolio */
.our-portfolio {
  background-color: var(--white);
}
.our-portfolio li {
  width: 360px;
  height: 420px;
  text-align: left;
  background-color: var(--white);
  border: 1px solid #e7e9fc;
}
/* footer */
footer {
  background-color: #2e2f42;
}
footer .post-text {
  color: var(--cloud);
  width: 264px;
  height: 72px;
}
